body{
    background-color: #304F6D;
}

form {
    /*width:260px;*/
    margin: 25px;
    padding: 5%;
  
    background-color:#4F778F;
}
input, textarea {
    display:block;
    width:250px;
    padding:5px;
    margin:2px
}
input[type=submit] {
    width:264px;
}
textarea {
    width:252px;
    resize:vertical;
}
h1{
    text-align: center;
    color: gold;
     text-shadow: 6px 6px 6px darkred;
}
.form-group{

    margin: 0 auto;
}

